.freelancer-Details{
    padding: 4% .2% 4% 4%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.takes-Frilancer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.income-detaills{
    margin: 10px;
    box-shadow: 0px 0px 10px 0px grey;
    padding: 10px;
    border-radius: 10px;
    position:relative;
    background-color: #101841;
    color: #ffffff;
    border: 2px solid #1869d3;
    box-shadow: 0px 0px 10px 0px #1869d3;
}