.freelancer-name{
display: flex;
align-items: center;
border: 1px solid #1869d3;
border-radius: 15px;
margin: 10px 30px;
justify-content: space-around;
box-shadow: 0px 0px 4px 0px #1869d3;
}
.freelancer-name img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 10px;
    border: 2px solid #1869d3;
}